[Desktop Entry]
Name=海天鹰编辑器
Comment=Media player
Exec=/media/sonichy/job/HY/Linux/Qt/HTYEdit/HTYEdit %u
Icon=/media/sonichy/job/HY/Linux/Qt/HTYEdit/HTYEdit.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYEdit
Terminal=false
Type=Application
MimeType=text/plain;text/html;image/svg+xml;
Categories=TextEditor;
